<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student Login Form</title>
</head>
<body>
  <form action="processForm" th:object="${student}">
      FirstName: <input th:field="*{firstName}">
      <br><br>
      LastName: <input th:field="*{lastName}">
      <br><br>
      <select th:field="*{country}">
          <option value="Argentina" label="Argentina"></option>
          <option value="Brazil" label="Brazil"></option>
          <option value="Egypt" label="Egypt"></option>
          <option value="England" label="England"></option>
          <option value="France" label="France"></option>
          <option value="Germany" label="Germany"></option>
          <option value="Italy" label="Italy"></option>
          <option value="Netherlands" label="Netherlands"></option>
          <option value="Spain" label="Spain"></option>
          <option value="Portugal" label="Portugal"></option>

      </select>
      <br><br>
      <input type="submit" value="Submit">
  </form>
</body>
</html>